autopep8==1.4.4
botocore==1.12.243
colorama==0.4.1
django-crispy-forms==1.7.2
docutils==0.15.2
jmespath==0.9.4
numpy==1.17.0
pandas==0.25.0
pyasn1==0.4.7
pycodestyle==2.5.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.6
virtualenv==16.7.2
