{% extends "base.html" %}


{% block content %}

<h2>{{ event.title }}</h2>

<p>{{ event.location }}</p>
<p>Hosted by: {{event.host.username}}</p>
<p>Starts at: {{ event.start_time }}</p>
<p>Ends at: {{ event.end_time }}</p>
<p>Located at: {{ event.venue }}</p>
{% for cat in event.categories.all %}
<p>{{ cat.name }}</p>
{% endfor %}


{% if user.is_authenticated and user == event.host %}
    <a href="{% url 'eventFinderApp:editevent' pk=event.pk %}"><button>Edit Event</button></a>

{% else %}
    <p></p>
    
{% endif %}

{% endblock %}