html {
    font-family: 'Manjari', sans-serif;
}

body {
    margin: 50px;
}

h1 {
    font-size: 3rem;
    color: #058ED9;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
}

a {
    color: #058ED9;
}

#new-event {
    width: 100%;
    background-color: #058ED9;
    color: #fff;
    border: 1px solid #058ED9;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 50px;
    cursor: pointer;
}

#new-event:hover {
    text-decoration: underline;
}

.details-box {
    border: 1px solid #058ED9;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.details-box a {
    color: #000 !important;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.details-box a:hover {
    text-decoration: underline;
}

.titles {
    width: 100%;
    background-color: #483D3F;
    overflow: auto;
}

.titles a {
    float: left;
    padding: 12px 0;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 2.5rem;
    border-top: 1px solid black;
}